<div class="animated fadeIn ">
    {{! This is the post loop - each post will be output using this markup }}
    {{#foreach posts}}
    <article class="post {{#if featured}}post--featured{{/if}}">
        <div class="post-preview col-xs-10  no-gutter">
            <h2><a href="{{url}}">{{title}}</a></h2>

            <p>{{excerpt words="24"}}</p>

            <p class="meta">
                {{#author}}
                <a href="{{url}}">{{name}}</a>
                {{/author}}
                {{tags prefix=" in "}}
                <i class="link-spacer"></i>
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMM YYYY"}}</time>
            </p>
        </div>

        {{#if author.image}}
        <div class=" col-xs-2  no-gutter">
            <img src="{{author.image}}" alt="{{author.name}}"class="user-icon user-1" alt="user-image">
        </div>
        {{/if}}
    </article>
    {{/foreach}}
</div>


<footer class="split-footer">
    {{pagination}}
</footer>

